@media screen and (max-width: 1200px) {
  .pimg1 {
    background-image: url("../assets/image6.jpg");
    min-height: 50%;
  }

  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  .about-details-container {
    flex-direction: column;
    align-items: center;
  }

  .article-container {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .ptext1 {
    top: 30%;
    font-size: 20px;
    letter-spacing: 3px;
  }

  .ptext2 {
    font-size: 20px;
    letter-spacing: 5px;
  }

  .section__text h2 {
    font-size: 100%;
  }

  .centered-image {
    width: 90%;
  }

  #projects {
    grid-template-columns: 1fr;
  }

  .arrow {
    display: none;
  }

  .social-media-links {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .email-icon {
    max-width: 15%;

  }

  .facebook-icon {
    max-width: 15%;
    margin-right: 10%;
  }

  .social-media-links p {
    align-items: center;
  }

  footer .nav-links li {
    display: none;
  }

  .footer-icon {
    font-size: 30px;
  }
}