body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 2em;
  color: white;
}

nav {
  background-color: #333;
  position: relative;
  z-index: 1;
}

/* DESKTOP NAV */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.8rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: #535353;
  color: #fff;
  padding: 5px 5px;
  border-radius: 10%;
}

.logo {
  font-size: 2rem;
  color: white;
}

.logo:hover {
  cursor: default;
}


/* HAMBURGER NAV */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: transparent;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  z-index: 2;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* PARALLAX */
.pimg2,
.pimg3,
.pimg4,
.pimg5 {
  position: relative;
  opacity: 0.5;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}


/* BACKGROUND PICTURES */
.pimg1 {
  background-image: url("../assets/image1.jpg");
  min-height: 100%;
}

.pimg2 {
  background-image: url("../assets/image2.jpg");
  min-height: 300px;
}

.pimg3 {
  background-image: url("../assets/image3.jpg");
  min-height: 300px;
}

.pimg4 {
  background-image: url("../assets/image4.jpg");
  min-height: 300px;
}

.pimg5 {
  background-image: url("../assets/image5.jpg");
  min-height: 300px;
}


/* PROFILE SECTION */
.centered-image {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: auto;
  border-radius: 10%;
}

.btn-container {
  margin-top: 20px;
}

/* STYLE BUTTONS */
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.btn-color-1,
.btn-color-2 {
  border: whitesmoke 0.1rem solid;
}

.btn-color-1,
.btn-color-2:hover {
  background: white(53, 53, 53);
  color: black;
}

.btn-color-1:hover {
  background: white;
}

.btn-color-2 {
  background: none;
  color: black;
}

.btn-color-2:hover {
  background: white;
}

/* STYLE SOCIAL ICONS */
#socials-container {
  margin-top: 20px;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0 10px;
  cursor: pointer;
  color: white;
}

/* HOVER ICON EFFECT */
.icon:hover {
  opacity: 0.3;
}

/* ABOUT ME */
#about {
  position: relative;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section__pic-container {
  flex: 1;
  text-align: center;
}

.about-pic {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 100px;
}

.about-details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-details-container p {
  font-size: 1.8vh;
}

.about-containers {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  align-items: center;
}

.details-container {
  flex: 1;
  text-align: center;
  border: 3px solid #ccc;
  border-radius: 50px;
  padding: 10px;
  line-height: 1.5em;
}

/* EXPERIENCE */
.article-container {
  display: flex;
  justify-content: space-between;
  line-height: 0;
}

.experience-sub-title {
  color: white;
}

/* PROJECTS */
/* CONTACT */

/* SECTION */
.section {
  text-align: center;
  padding: 40px 20px;
}

.section__text {
  line-height: 0.5em;
  font-size: 2vh;
}

.section-light {
  background-color: #404040;
  color: white;
  text-align: center;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext2 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 40px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext1 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: red;
  font-size: 30px;
  letter-spacing: 8px;
  text-transform: uppercase;
  background-color: white;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border1 {
  border-style: solid;
  background-color: #800000;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

/* FOOTER */